node_modules/
vendor/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.log
.env
.env.*
*~
*.swp
*.bak
.phpstorm.meta.php
uploads/
*.cache
dist/
build/
coverage/
*.sqlite
*.db
Desktop.ini
local.php
